{% templatetag openblock %} load static i18n {% templatetag closeblock %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openvariable %} current_page.title {% templatetag closevariable %}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
  <link rel="stylesheet" type='text/css' href="{% templatetag openblock %} static 'vendor/bootstrap/dist/css/bootstrap.min.css' {% templatetag closeblock %}">
  <link rel="stylesheet" type='text/css' href="{% templatetag openblock %} static '{{ project_name }}/css/{{ project_name }}.css' {% templatetag closeblock %}">
  {% templatetag openblock %} block css {% templatetag closeblock %}
  {% templatetag openblock %} endblock {% templatetag closeblock %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {% templatetag openblock %} block body {% templatetag closeblock %}
    <header>
      {% templatetag openblock %} block header {% templatetag closeblock %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="/">{{ project_name }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="{% templatetag openblock %} trans 'Toggle navigation' {% templatetag closeblock %}">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="navbar-nav mr-auto">
              {% templatetag openblock %} include "menus/menu.html" with children=menu {% templatetag closeblock %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="{% templatetag openblock %} trans 'Search' {% templatetag closeblock %}" aria-label="{% templatetag openblock %} trans 'Search' {% templatetag closeblock %}">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% templatetag openblock %} trans 'Search' {% templatetag closeblock %}</button>
            </form>
          </div>
        </nav>
      {% templatetag openblock %} endblock header {% templatetag closeblock %}
    </header>
    <main role="main" class="container">
      {% templatetag openblock %} block main {% templatetag closeblock %}
      {% templatetag openblock %} endblock main {% templatetag closeblock %}
    </main>
    <footer class="footer">
      <div class="container">
        {% templatetag openblock %} block footer {% templatetag closeblock %}
          <span class="text-muted">Place sticky footer content here.</span>
        {% templatetag openblock %} endblock footer {% templatetag closeblock %}
      </div>
    </footer>
  {% templatetag openblock %} endblock body {% templatetag closeblock %}
  <script type="text/javascript" src="{% templatetag openblock %} static 'vendor/jquery/dist/jquery.min.js' {% templatetag closeblock %}"></script>
  <script type="text/javascript" src="{% templatetag openblock %} static 'vendor/bootstrap/dist/js/bootstrap.min.js' {% templatetag closeblock %}"></script>
  <script type="text/javascript" src="{% templatetag openblock %} static '{{ project_name }}/js/{{ project_name }}.js' {% templatetag closeblock %}"></script>
  {% templatetag openblock %} block js {% templatetag closeblock %}
  {% templatetag openblock %} endblock {% templatetag closeblock %}
</body>
</html>
