{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} for child in children {% templatetag closeblock %}
<li class="nav-item
          {% templatetag openblock %} if child.url == request.path {% templatetag closeblock %} active{% templatetag openblock %} endif {% templatetag closeblock %}
          {% templatetag openblock %} if child.children {% templatetag closeblock %} dropdown{% templatetag openblock %} endif {% templatetag closeblock %}">
  <a class="nav-link{% templatetag openblock %} if child.children {% templatetag closeblock %} dropdown-toggle{% templatetag openblock %} endif {% templatetag closeblock %}"
     href="{% templatetag openvariable %} child.url {% templatetag closevariable %}"{% templatetag openblock %} if child.children {% templatetag closeblock %}
     id="dropdown{% templatetag openvariable %} child.url|slugify {% templatetag closevariable %}"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false"{% templatetag openblock %} endif {% templatetag closeblock %}>
    {% templatetag openvariable %} child.title {% templatetag closevariable %}
    {% templatetag openblock %} if child.url == request.path {% templatetag closeblock %} <span class="sr-only">{% templatetag openblock %} trans '(current)' {% templatetag closeblock %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
  </a>
  {% templatetag openblock %} if child.children {% templatetag closeblock %}
    <div class="dropdown-menu" aria-labelledby="dropdown{% templatetag openvariable %} child.url|slugify {% templatetag closevariable %}">
      {% templatetag openblock %} for child in child.children {% templatetag closeblock %}
        <a class="dropdown-item" href="{% templatetag openvariable %} child.url {% templatetag closevariable %}">{% templatetag openvariable %} child.title {% templatetag closevariable %}</a>
      {% templatetag openblock %} endfor {% templatetag closeblock %}
    </div>
  {% templatetag openblock %} endif {% templatetag closeblock %}
</li>
{% templatetag openblock %} endfor {% templatetag closeblock %}
