{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block main {% templatetag closeblock %}
  <h1>Welcome to {{ project_name }} demo!</h1>
  <pre>{% templatetag openblock %} include "README" {% templatetag closeblock %}</pre>
  <p>This pages receives the following context from <code>index.json</code>:</p>
  <pre>{% templatetag openblock %} include "index.json" {% templatetag closeblock %}</pre>
  <p>All pages have the follwing default context from <code>_global_context.json</code>:</p>
  <pre>{% templatetag openblock %} include "_global_context.json" {% templatetag closeblock %}</pre>
{% templatetag openblock %} endblock {% templatetag closeblock %}
